VITE_SUPABASE_URL=https://cmnopsxfwikgpuqworwy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtbm9wc3hmd2lrZ3B1cXdvcnd5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzNzUzODksImV4cCI6MjA5NDk1MTM4OX0.k4R4Xcer73QKM4HAFled4jgGMmzN0jaQLomkXoxK_cQ
